---
---

mins {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
  line-height: var(--spacing);
  box-shadow: var(--shadow);
}

mins a {
  color: var(--text) !important;
}

mins a:hover {
  color: var(--primary) !important;
}

mins .icon {
  font-size: var(--xl);
}
